/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #232f3e;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 1.8rem;
    margin: 0;
}

header .auth-buttons button, 
header .cart-button button {
    background-color: #f08804;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

header .cart-button button {
    font-size: 0.9rem;
}

/* Product Section */
main {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 230px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card p {
    font-size: 1rem;
    color: #e67e22;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #f08804;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Forms */
.form-container {
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #f08804;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #e67e22;
}

/* Cart Page */
.cart-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

.cart-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-total p {
    font-size: 1.5rem;
}

.cart-total button {
    background-color: #f08804;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}
